{% extends "base.html" %}
{% block title %} Django Tutorial | Home {% endblock %}
{% block body %}
<div class="post">
  <h1>Django Tutorial</h1>
  <div class="content">
    <ul>
      <li>Django is a back-end server side web framework.</li>
      <li>Django is free, open source and written in Python.</li>
      <li>Django makes it easier to build web pages using Python.</li>
    </ul>
  </div>
  <br>
  <hr/>
  <h2>Learning by Doing</h2>
  <div class="content">
    <p>In this tutorial you get a step by step guide on how to install and create a Django project.
    </p>
    <p>You will learn how to create a project where you can add, read, update or delete data.</p>
    <p>You will learn how to make HTML Templates and use Django Template Tags to insert data within a HTML document.</p>
    <p>You will learn how to work with QuerySets to extract, filter, and sort data from the database.</p>
    <p>You will also learn how to set up a PostgreSQL database and how to deploy your Django project to the world.</p>
  </div>
  <hr>
</div>
{% endblock %}