{% extends "base.html" %}
{% block title %} Django Tutorial | Installation {% endblock %}
{% block body %}
<div class="post">
    <h1>Installing Django</h1>
    <div class="content">
        <p>To install the latest version of Django, you can use pip (Python's package installer). You will need to have
            Python and Django is installed using pip, with this command: 
        </p>
    </div>
    <div class="bg1">
        <p>(myworld) C:\Users\Your Name><b>py -m pip install Django</b></p>
    </div>
    <hr>
    <h2>Check Django Version</h2>
    <div class="content">
        <p>You can check if Django is installed by asking for its version number like this:</p>
    </div>
    <div class="bg1">
        <p>(myworld) C:\Users\Your Name><b>django-admin --version</b></p>
    </div>
    <div class="content">
        <p>If Django is installed, you will get a result with the version number:</p>
    </div>
    <div class="bg1">
        <p>4.1.2</p>
    </div>
    <hr>
</div>
{% endblock %}