{% extends "base.html" %}
{% block title %} Django Tutorial | Intro {% endblock %}
{% block body %}
<div class="post">
    <h1>Django Introduction</h1>
    <hr>
    <h2>What Is Django?</h2>
    <div class="content">
        <p>Django is a Python framework that makes it easier to create web sites using Python. <br><br>
            Django takes care of the difficult stuff so that you can concentrate on building your web applications.
            <br><br>
            Django emphasizes reusability of components, also referred to as DRY (Don't Repeat Yourself), and comes with
            ready-to-use features like login system, database connection and CRUD operations (Create Read Update
            Delete).
        </p>
    </div>
    <div class="content bg">
        <p>Django is especially helpful for database driven websites.</p>
    </div>
    <hr>
    <h2>How does Django Work?</h2>
    <div class="content">
        <p>Django follows the MVT design pattern (Model View Template).</p>
        <ul>
            <li>Model - The data you want to present, usually data from a database.</li>
            <li>View - A request handler that returns the relevant template and content - based on the request from the
                user.</li>
            <li>Template - A text file (like an HTML file) containing the layout of the web page, with logic on how to
                display the data.</li>
        </ul>
    </div>
    <hr>
    <h2>Model</h2>
    <div class="content">
        <p>
            The model provides data from the database. <br><br>
            In Django, the data is delivered as an Object Relational Mapping (ORM), which is a technique designed to
            make it easier to work with databases. <br><br>
            The most common way to extract data from a database is SQL. One problem with SQL is that you have to have a
            pretty good understanding of the database structure to be able to work with it. <br><br>
            Django, with ORM, makes it easier to communicate with the database, without having to write complex SQL
            statements.

            The models are usually located in a file called models.py.
        </p>
    </div>
    <hr>
    <h2>View</h2>
    <div class="content">
        <p>
            A view is a function or method that takes http requests as arguments, imports the relevant model(s), and
            finds out what data to send to the template, and returns the final result. <br><br>
            The views are usually located in a file called views.py.
        </p>
    </div>
    <hr>
    <h2>Template</h2>
    <div class="content">
        <p>A template is a file where you describe how the result should be represented. <br><br>
            Templates are often .html files, with HTML code describing the layout of a web page, but it can also be in
            other
            file formats to present other results, but we will concentrate on .html files. <br><br>
            Django uses standard HTML to describe the layout, but uses Django tags to add logic:</p>
    </div>
    <hr>
    <h2>URLs</h2>
    <div class="content">
        <p>Django also provides a way to navigate around the different pages in a website.<br><br>
            When a user requests a URL, Django decides which view it will send it to. <br><br>
            This is done in a file called urls.py.
        </p>
    </div>
    <hr>
    <h2>So, What is Going On?</h2>
    <div class="content">
        <p>When you have installed Django and created your first Django web application, and the browser requests the URL, this is basically what happens:</p>
        <ol>
            <li>Django receives the URL, checks the urls.py file, and calls the view that matches the URL.</li>
            <li>The view, located in views.py, checks for relevant models.</li>
            <li>The models are imported from the models.py file.</li>
            <li>The view then sends the data to a specified template in the template folder.</li>
            <li>The template contains HTML and Django tags, and with the data it returns finished HTML content back to the browser.</li>
        </ol>
        <p>Django can do a lot more than this, but this is basically what you will learn in this tutorial, and are the basic steps in a simple web application made with Django.</p>
    </div>
    <hr>
    <h2>Django History</h2>
    <div class="content">
        <p>Django was invented by Lawrence Journal-World in 2003, to meet the short deadlines in the newspaper and at the same time meeting the demands of experienced web developers.<br><br>
            Initial release to the public was in July 2005. <br><br>
            Latest version of Django is 4.0.3 (March 2022).</p>
    </div>
    <hr>
</div>
{% endblock %}